$primary:#677897;
$secondary:#7887a7;
$lblue:#273D52;
$dblue:#2a4560;
$white:#fff;
$black:#111111;
$form-border:#e5eced;
$dark: #4a4a4a;
$blue:#677897;
$light_blue:#cbe3fa;
$red:#FF2600;
$light-red:#f85c5a;
$teal:#E6EFFA;

$transparent:transparent;

// font sizes
$font-lg: 48px;
$font-smlg: 36px;
$font-xsmlg:32px;

$font-mdxl:26px;
$font-mdlg:21px;

$font-md:16px;
$font-smd: 14px;
$font-sm: 12px;
$font-xsm:10px;


$circular-font: CircularStd;
$circular-font-bold: CircularStdBold;
